<!DOCTYPE html>
<head>
  <title>Match</title>
  <script src="https://js.pusher.com/4.4/pusher.min.js"></script>
  <script>

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('831b0d6aebed3c727f01', {
      cluster: 'ap1',
      forceTLS: true
    });

    var channel = pusher.subscribe('COMMENT_CHANNEL');
    channel.bind('comment_413094', function(data) {
      alert(JSON.stringify(data));
      console.log(data);
    });
  </script>
</head>
<body>
  <h1>Pusher Test</h1>
  <p>
    Try publishing an event to channel <code>my-channel</code>
    with event name <code>my-event</code>.
  </p>
</body>